*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    /* background-color:aqua; */
}


.border{
    border:2px solid red;
}

h1{
    text-align: center;
    color:rgb(131, 206, 131);
    background-color: rgb(242, 248, 242);
    padding:10px 0;
    margin-bottom: 20px;
}

input,select{
    margin-left: 10px;
    outline: none;
    padding:10px;
    font-size: 15px;
    border:2px solid rgb(131,206,131);
    border-radius: 20px;
    margin-bottom: 10px;
}
table{
    width:80%;
    min-width: 900px;
    margin: 20px auto;
}

table,tr,th,td{
    border-collapse: collapse;
    border:2px solid rgb(131, 206, 131);
    text-align: center;
    
}

td{
    color:rgb(4, 44, 4);
    font-size: 20px;
    padding:10px;
}

th{
    color: rgb(5, 85, 5);
    font-size: 30px;
    padding: 10px 0;
}

.btn{
    color:rgb(4, 44, 4);
    padding:10px;
    font-size: 15px;
    border-radius: 20px;
    border:2px solid rgb(131, 206, 131);
    width:8%;
    min-width:100px;
}

.btn:hover{
    color:white;
    background-color: rgb(131, 206, 131);
    border: 2px solid transparent;
    cursor: pointer;
}

.sortSearch{
    text-align: center;
    
}

.sort{
    margin-bottom: 10px;
}

.edit,.delete{
    width:60%;
}

.delete{
    margin-bottom: 10px;
}

#formDetails{
    text-align: center;
}

.error_msg{
    color:red;
    text-align: center;
    margin-bottom: 10px;
}

#add_btn{
    margin-left: 10px;
}

.no_data_color{
    color:red;
    font-size: 30px;
    margin: 30px;
}
